<div>
    <br />
    <label>Введите App token</label><br />
    <input type="text" id="AppToken" /> <br /><br />
    <label>Введите User key</label><br />
    <input type="text" id="UserKey" /><br /><br />
    <label>Введите сообщение</label><br />
    <input type="text" id="Message" /><br /><br />

    @*<form action="api/values/5" method="post">
            <input type="submit" value="Отправить" onclick="Button1_Click" />
        </form>*@

    <button id="btn">Сохранить</button>

    @*<input type="button" id="btn" value="Отправить" />*@

</div>

@section scripts
{
    <script type="text/javascript">

            

            $(document).ready(function () {

                $("#btn").click(function (event) {
                    event.preventDefault();
                    Send();
                });

            });

        function Send() {
            // получаем значения для добавляемой книги
            var request = {
                AppToken: $('#AppToken').val(),
                UserKey: $('#UserKey').val(),
                Message: $('#Message').val()
            };

            $.ajax({
                url: '/api/values/',
                type: 'POST',
                data: JSON.stringify(request),
                contentType: "application/json;charset=utf-8"         
            });
        }

        

    </script>
}
